source https://www.nuget.org/api/v2
framework: auto-detect

nuget flurl
nuget flurl.http
nuget xunit
nuget microsoft.net.test.sdk = 15.3.0-preview-20170628-02
nuget xunit.runner.visualstudio
nuget fsharp.core
nuget newtonsoft.json
nuget fable.jsonconverter
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget microsoft.fsharplu.json