source https://www.nuget.org/api/v2
framework: auto-detect

nuget xunit
nuget microsoft.net.test.sdk = 15.3.0-preview-20170628-02
nuget xunit.runner.visualstudio
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget fsharp.core >= 4.2.3
nuget newtonsoft.json >= 10.0.3
nuget microsoft.fsharplu.json = 0.10.3
